BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Always

BreakBeforeBraces: Attach

PointerAlignment: Left 
QualifierAlignment: Leave

SortIncludes: Never

KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
PenaltyReturnTypeOnItsOwnLine: 1000

ColumnLimit: 120

AlwaysBreakTemplateDeclarations: Yes

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
